Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
PostScriptum.uproject
/Content/*
/Build/*
/Config/*
/Releases/*
/ServerConfig/*
/Plugins/OffworldCore/*